html body {
    margin: 0;
}
.body1 {
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    position: fixed
}

header {
    height: 100vh;
}

.thanks {
    position: fixed;
}

.navside {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0b0b0b;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navside a {
    padding: 8px 8px 8px 1px;
    text-decoration: none;
    font-size: 35px;
    color: #a84852;
    display: block;
    transition: 0.3s;
}

.navside a:hover {
    color: #b27474;
}

.navside .closebutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .navside {
        padding-top: 15px;
    }
    .navside a {
        font-size: 18px;
    }
}

.bmenu {
    color: transparent;
    display: block;
    letter-spacing: 1px;

}

.bmenu:hover {
    text-shadow: 0px 0px 5px #000000;
}

.bmenu a:hover {
    color: #c18181;
    padding-left: 10px;
}

div.box {
    margin: auto;
    background-color: #a86767;
    border: 1px solid black;
    align-content: center;
    height: 20%;
}

div.box p {
    margin: 2%;
    font-weight: bold;
    color: #000000;
    opacity: 1;
    font-size: 22px
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.port {
    text-shadow: 0px 0px 5px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 160px;

}

.center {
    text-align: center;
    font-size: 52px
}
